<script>
  if (typeof console.debug !== 'function') console.debug = console.log
</script>

<script src="/Veil.js"></script>

<h2 veil-prop:live="innerText:text">Update text example</h2>
<input value="Update text example" type="text" veil:live="input:updateText">

<script>

  var live = new Veil('live', {
    updateText: function (node, event) {
      node.value + 'test'
    }
  })

</script>